* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif; }

body {
  background-color: #ffffff;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  height: 100%; }
  body #button__cart {
    width: 1.3em; }
  body a {
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    color: black; }

.bodyGrid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: max-content max-content max-content max-content;
  grid-template-areas: "header"  "nav"  "main"  "footer"; }

/* --------------HEADER-------------- */
header {
  border-bottom: 1px solid #dedede;
  z-index: 1000;
  width: 100%;
  grid-area: header;
  background-color: white;
  height: max-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content;
  grid-template-areas: ". logo social"; }
  header .header__logo {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    grid-area: logo; }
    header .header__logo .logo__img {
      height: 6.25em;
      margin-top: 0.32em; }
  header .header__social {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: social; }
    header .header__social .social__container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 12.5rem;
      height: 3.75rem;
      border-bottom: 3px solid #dedede;
      transition: all 0.65s; }
      header .header__social .social__container:hover {
        border-bottom: 3px solid #202020; }
      header .header__social .social__container .container__icono {
        width: 1.562rem;
        margin: 0 0.93rem 0 0.93rem;
        transition: all 0.25s; }
        header .header__social .social__container .container__icono:hover {
          transform: scale(1.3); }

/* --------------NAV-------------- */
nav {
  box-shadow: 0 10px 5px -10px rgba(0, 0, 0, 0.26);
  border-bottom: 1px solid #dedede;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 0.65em 0 0.65em 0;
  margin: 0;
  width: 100%;
  height: 4.375rem; }
  nav .nav__icono {
    height: 1em;
    transition: all 0.25s; }
    nav .nav__icono:hover {
      transform: scale(1.5);
      fill: royalblue; }
  nav .nav__lista {
    padding: 0 3.12em 0 3.12em;
    list-style-type: none;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    margin: 0; }
    nav .nav__lista .nav__item {
      display: block;
      color: black;
      padding: 0.62em 0 0.62em 0;
      justify-items: center; }
      nav .nav__lista .nav__item .nav__buscador {
        padding: 4px;
        border: 1px solid #dedede; }
      nav .nav__lista .nav__item a p {
        margin: 0;
        border-bottom: 2px solid rgba(0, 0, 0, 0);
        transition: all 0.45s; }
        nav .nav__lista .nav__item a p:hover {
          color: black;
          border-bottom: 2px solid black; }

/* --------------FOOTER-------------- */
footer {
  z-index: 900;
  box-shadow: 0 -10px 5px -10px rgba(0, 0, 0, 0.26);
  grid-area: footer;
  background-color: #ffffff;
  border-top: 1px solid #dedede;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content;
  grid-template-areas: "izquierda centro derecha"; }
  footer a {
    text-decoration: none;
    color: black; }
  footer .footer__centro {
    grid-area: centro;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center; }
    footer .footer__centro .centro__lista {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      width: max-content;
      margin: 0;
      padding: 0;
      justify-content: center;
      align-items: center; }
      footer .footer__centro .centro__lista strong, footer .footer__centro .centro__lista small, footer .footer__centro .centro__lista span {
        width: max-content; }
  footer .footer__derecha {
    grid-area: derecha;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center; }
    footer .footer__derecha .derecha__lista {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      width: max-content;
      margin: 1rem 0 1rem 0;
      padding: 0; }
      footer .footer__derecha .derecha__lista .lista__item {
        margin: 0.25em 0 0.25em 0;
        height: 1rem; }
        footer .footer__derecha .derecha__lista .lista__item label {
          width: 100%;
          height: 100%;
          align-content: center; }
          footer .footer__derecha .derecha__lista .lista__item label .iconContacto {
            width: 1rem; }

/* --------------MAIN / SECTIONS / ASIDE-------------- */
aside {
  z-index: 850;
  box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.26);
  background-color: #ffffff;
  grid-area: aside;
  border-top: 1px solid #dedede;
  width: 100%;
  height: 100%; }
  aside .aside__lista {
    padding: 7.5em 0 0 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 4.375rem;
    z-index: 800;
    margin: 0; }
    aside .aside__lista .lista_checkboxes {
      width: 100%;
      justify-content: start;
      padding: 2em; }
  aside .aside__item {
    padding: 1.25em 0 1.25em 0; }
    aside .aside__item p {
      margin: 0; }
    aside .aside__item .form-select {
      width: 8.125em; }
    aside .aside__item #filtroPrecio {
      width: 9.375em; }

.index__main {
  display: grid;
  grid-template-columns: 12.5em 1fr;
  grid-template-rows: max-content max-content;
  grid-template-areas: "carousel carousel"  "aside section";
  grid-area: main; }
  .index__main #carouselIndex {
    box-shadow: 0 10px 5px -10px rgba(0, 0, 0, 0.26);
    grid-area: carousel;
    z-index: 800; }
  .index__main .index__section {
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    display: flex;
    justify-content: center;
    text-align: center;
    grid-area: section; }
    .index__main .index__section .section__grid {
      align-content: center;
      align-items: center;
      margin: 1.25em;
      display: grid;
      width: max-content;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "article article article"  "article article article"  "article article article";
      grid-column-gap: 0.43em;
      grid-row-gap: 0.43em; }
      .index__main .index__section .section__grid .grid__article {
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.26);
        background-color: white;
        padding: 1.25em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: all 0.1s;
        width: 18.75em;
        height: 21.87em;
        border-radius: 4px; }
        .index__main .index__section .section__grid .grid__article .article__imagen {
          width: 250px;
          align-content: center; }
        .index__main .index__section .section__grid .grid__article .article__nombre {
          margin: 0;
          font-weight: bold;
          font-size: 14px; }
        .index__main .index__section .section__grid .grid__article .article__precio {
          font-size: 16px;
          margin: 0; }
        .index__main .index__section .section__grid .grid__article:hover {
          transform: scale(1.07); }

.articulo__main {
  grid-area: main;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  width: 100%;
  height: 100%;
  padding: 3.125em; }
  .articulo__main .main__section {
    display: flex;
    justify-content: center; }
    .articulo__main .main__section .section__grid {
      padding: 3.125em;
      background-color: white;
      box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.26);
      border-radius: 5px;
      align-items: center;
      display: grid;
      grid-template-columns: max-content max-content max-content;
      grid-template-areas: "subImg princImg datos"; }
      .articulo__main .main__section .section__grid .grid__imgSecundarias {
        padding: 1.25em;
        grid-area: subImg;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-right: 1px solid #dedede; }
        .articulo__main .main__section .section__grid .grid__imgSecundarias .imgSecundarias__secundaria {
          height: 6.8em;
          width: 6.8em;
          transition: all 0.2s; }
          .articulo__main .main__section .section__grid .grid__imgSecundarias .imgSecundarias__secundaria:hover {
            transform: scale(2);
            box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.26); }
      .articulo__main .main__section .section__grid .grid__imgPrincipal {
        display: flex;
        grid-area: princImg;
        justify-content: space-between;
        padding: 1.25em;
        width: 23.12rem;
        align-content: center; }
      .articulo__main .main__section .section__grid .grid__datos {
        padding: 1.25em;
        grid-area: datos;
        height: 100%;
        display: grid;
        grid-template-columns: 33.12em;
        grid-template-rows: max-content max-content max-content max-content max-content max-content;
        grid-template-areas: "nombre" "precio" "favorito" "descripcion" "selectores" "botones";
        row-gap: 13px; }
        .articulo__main .main__section .section__grid .grid__datos h2 {
          font-size: 1.87em;
          flex-wrap: wrap; }
        .articulo__main .main__section .section__grid .grid__datos p {
          margin: 0; }
        .articulo__main .main__section .section__grid .grid__datos .datos__precio {
          font-weight: bold;
          grid-area: precio; }
        .articulo__main .main__section .section__grid .grid__datos .datos__descripcion {
          width: 33rem;
          font-size: 13px;
          text-align: justify;
          color: #2e2e2e;
          grid-area: descripcion; }
        .articulo__main .main__section .section__grid .grid__datos .datos__selects {
          display: flex;
          font-size: 1.062em;
          grid-area: selectores;
          width: 100%;
          justify-content: space-around;
          align-items: center;
          padding-top: 0.93rem;
          border-top: 1px solid #dedede; }
          .articulo__main .main__section .section__grid .grid__datos .datos__selects .form-select {
            width: max-content; }
        .articulo__main .main__section .section__grid .grid__datos .datos__button .btn #button__heart {
          width: 1em; }
        .articulo__main .main__section .section__grid .grid__datos .datos__inputs {
          grid-area: botones;
          display: flex;
          width: 100%; }
          .articulo__main .main__section .section__grid .grid__datos .datos__inputs .btn {
            margin-right: 0.62em; }
            .articulo__main .main__section .section__grid .grid__datos .datos__inputs .btn #button__cart {
              width: 1em; }

.marcas__main {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  width: 100%;
  height: 100%; }
  .marcas__main .main__section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; }
    .marcas__main .main__section .section__grid {
      align-content: center;
      align-items: center;
      margin: 1.87em;
      display: grid;
      width: max-content;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "Marca Marca Marca" "Marca Marca Marca";
      grid-column-gap: 0.625em;
      grid-row-gap: 0.625em; }
      .marcas__main .main__section .section__grid .grid__cardMarca {
        display: flex;
        width: 18.75em;
        height: 18.75em;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.26);
        background-color: white;
        border-radius: 4px;
        justify-content: center;
        align-items: center; }
        .marcas__main .main__section .section__grid .grid__cardMarca .cardMarca__logoImg {
          height: 11.25em;
          width: 11.25em;
          transition: all 0.3s; }
          .marcas__main .main__section .section__grid .grid__cardMarca .cardMarca__logoImg:hover {
            transform: scale(1.3); }

.marca__main {
  display: grid;
  grid-template-columns: 12.5em 1fr;
  grid-template-rows: max-content;
  grid-template-areas: "aside section";
  grid-area: main; }
  .marca__main .main__section {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    display: flex;
    justify-content: center;
    text-align: center; }
    .marca__main .main__section .section__grid {
      align-content: center;
      align-items: center;
      margin: 1.25em;
      display: grid;
      width: max-content;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "article article article" "article article article";
      grid-column-gap: 0.43em;
      grid-row-gap: 0.43em; }
    .marca__main .main__section .grid__article {
      background-color: white;
      border-radius: 4px;
      box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.26);
      padding: 1.25em;
      transition: all 0.1s;
      width: 18.75em;
      height: 21.875em; }
      .marca__main .main__section .grid__article .article__imagen {
        height: 15.625em;
        width: 15.625em;
        align-content: center; }
      .marca__main .main__section .grid__article .article__nombre {
        margin: 0;
        font-weight: bold;
        font-size: 14px; }
      .marca__main .main__section .grid__article:hover {
        transform: scale(1.07); }

.favoritos__main {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  width: 100%;
  height: 100%; }
  .favoritos__main .main__section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; }
    .favoritos__main .main__section .section__grid {
      align-content: center;
      align-items: center;
      margin: 1.25em;
      display: grid;
      width: max-content;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "Articulo Articulo" "Articulo Articulo" "Articulo Articulo";
      grid-column-gap: 0.625em;
      grid-row-gap: 0.625em; }
      .favoritos__main .main__section .section__grid .grid__cardArticulo {
        border-radius: 5px;
        display: grid;
        width: 100%;
        height: max-content;
        background-color: white;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.26);
        grid-template-columns: 14.375rem 200px 10.625rem;
        grid-template-rows: max-content;
        grid-template-areas: "Img Datos Cancel";
        align-items: center; }
        .favoritos__main .main__section .section__grid .grid__cardArticulo .cardArticulo__Img {
          height: 12.5em;
          width: 12.5em;
          grid-area: Img;
          padding-left: 0.937rem; }
        .favoritos__main .main__section .section__grid .grid__cardArticulo .cardArticulo__datos {
          display: flex;
          flex-direction: column;
          grid-area: Datos; }
          .favoritos__main .main__section .section__grid .grid__cardArticulo .cardArticulo__datos .article__nombre {
            flex-wrap: wrap;
            margin: 0 0 10px 0;
            font-weight: bold;
            font-size: 18px;
            grid-area: Datos; }
          .favoritos__main .main__section .section__grid .grid__cardArticulo .cardArticulo__datos .article__precio {
            font-size: 16px;
            margin: 0; }
        .favoritos__main .main__section .section__grid .grid__cardArticulo .cardArticulo__buttons {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          justify-content: center;
          align-items: center; }
          .favoritos__main .main__section .section__grid .grid__cardArticulo .cardArticulo__buttons .cardArticulo__icono {
            grid-area: Cancel;
            width: 1rem; }

.carrito__main {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  width: 100%;
  height: 100%; }
  .carrito__main .main__section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .carrito__main .main__section .section__grid {
      align-content: center;
      align-items: center;
      margin: 1.25em;
      display: grid;
      width: max-content;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "Articulo";
      grid-column-gap: 0.625em;
      grid-row-gap: 0.625em; }
      .carrito__main .main__section .section__grid .grid__cardArticulo {
        border-radius: 5px;
        display: grid;
        width: 100%;
        height: 9.375rem;
        background-color: white;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.26);
        grid-template-columns: 14.375rem 21.875rem 10rem 10rem 10.625rem;
        grid-template-rows: 9.375rem;
        grid-template-areas: "Img Datos Select Subtotal Cancel";
        align-items: center; }
        .carrito__main .main__section .section__grid .grid__cardArticulo .cardArticulo__Img {
          height: max-content;
          width: 12.5em;
          grid-area: Img;
          padding-left: 0.937rem; }
        .carrito__main .main__section .section__grid .grid__cardArticulo .cardArticulo__datos {
          display: flex;
          flex-direction: column;
          grid-area: Datos; }
          .carrito__main .main__section .section__grid .grid__cardArticulo .cardArticulo__datos .article__nombre {
            flex-wrap: wrap;
            margin: 0 0 10px 0;
            font-weight: bold;
            font-size: 18px;
            grid-area: Datos; }
          .carrito__main .main__section .section__grid .grid__cardArticulo .cardArticulo__datos .article__precio {
            font-size: 16px;
            margin: 0; }
        .carrito__main .main__section .section__grid .grid__cardArticulo .cardArticulo__select {
          width: 100%;
          height: 100%;
          grid-area: Select;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end; }
          .carrito__main .main__section .section__grid .grid__cardArticulo .cardArticulo__select .form-select {
            width: 4.375rem;
            margin: 0 0 0 5px; }
          .carrito__main .main__section .section__grid .grid__cardArticulo .cardArticulo__select .select__talle {
            display: flex;
            align-items: center;
            margin: 0 0 10px 0; }
          .carrito__main .main__section .section__grid .grid__cardArticulo .cardArticulo__select .select__cantidad {
            display: flex;
            align-items: center; }
        .carrito__main .main__section .section__grid .grid__cardArticulo .cardArticulo__subtotal {
          grid-area: Subtotal;
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          height: 100%;
          justify-content: flex-end;
          align-items: center; }
          .carrito__main .main__section .section__grid .grid__cardArticulo .cardArticulo__subtotal p {
            margin: 0; }
        .carrito__main .main__section .section__grid .grid__cardArticulo .cardArticulo__cancel {
          display: flex;
          width: 100%;
          height: 100%;
          justify-content: center;
          align-items: center; }
          .carrito__main .main__section .section__grid .grid__cardArticulo .cardArticulo__cancel .cardArticulo__icono {
            grid-area: Cancel;
            width: 1rem; }
    .carrito__main .main__section .grid__submit {
      width: max-content;
      height: max-content;
      display: flex;
      justify-content: flex-end;
      margin: 20px; }
      .carrito__main .main__section .grid__submit .submit__card {
        background-color: white;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.26);
        display: flex;
        padding: 10px;
        align-items: center;
        border-radius: 5px; }
        .carrito__main .main__section .grid__submit .submit__card .submit__total {
          padding-right: 1.25rem;
          margin: 0; }

.contacto__section {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  display: flex;
  justify-content: center; }

.signUp__section, .login__section, .contacto__section {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  display: flex;
  justify-content: center; }

.login__section {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  display: flex;
  justify-content: center; }

/* --------------FORM-------------- */
.signUp__section .section__form, .login__section .section__form, .contacto__section .section__form {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.26);
  width: 34.375rem;
  margin: 2.5rem 0.625rem 2.5rem 0.625rem;
  padding: 1.25rem;
  background-color: white;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3.125rem 7.5rem 7.5rem 7.5rem 7.5rem;
  grid-template-areas: "header" "topp"  "mid"  "bot" "submit"; }
  .signUp__section .section__form .form__header, .login__section .section__form .form__header, .contacto__section .section__form .form__header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9cc4fc; }
    .signUp__section .section__form .form__header h3, .login__section .section__form .form__header h3, .contacto__section .section__form .form__header h3 {
      color: white;
      margin: 0; }
  .signUp__section .section__form .form__top, .login__section .section__form .form__top, .contacto__section .section__form .form__top {
    display: flex;
    grid-area: topp;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center; }
    .signUp__section .section__form .form__top .top__nombre, .login__section .section__form .form__top .top__nombre, .contacto__section .section__form .form__top .top__nombre {
      width: 12.5rem;
      padding: 5px;
      border: 0;
      border-bottom: 1px solid #dedede;
      transition: all 0.45s; }
      .signUp__section .section__form .form__top .top__nombre:hover, .login__section .section__form .form__top .top__nombre:hover, .contacto__section .section__form .form__top .top__nombre:hover {
        border-bottom: 1px solid black; }
    .signUp__section .section__form .form__top .top__apellido, .login__section .section__form .form__top .top__apellido, .contacto__section .section__form .form__top .top__apellido {
      width: 12.5rem;
      padding: 5px;
      border: 0;
      border-bottom: 1px solid #dedede;
      transition: all 0.45s; }
      .signUp__section .section__form .form__top .top__apellido:hover, .login__section .section__form .form__top .top__apellido:hover, .contacto__section .section__form .form__top .top__apellido:hover {
        border-bottom: 1px solid black; }
  .signUp__section .section__form .form__mid, .login__section .section__form .form__mid, .contacto__section .section__form .form__mid {
    display: flex;
    grid-area: mid;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center; }
    .signUp__section .section__form .form__mid .mid__email, .login__section .section__form .form__mid .mid__email, .contacto__section .section__form .form__mid .mid__email {
      width: 12.5rem;
      padding: 5px;
      border: 0;
      border-bottom: 1px solid #dedede;
      transition: all 0.45s; }
      .signUp__section .section__form .form__mid .mid__email:hover, .login__section .section__form .form__mid .mid__email:hover, .contacto__section .section__form .form__mid .mid__email:hover {
        border-bottom: 1px solid black; }
    .signUp__section .section__form .form__mid .mid__telefono, .login__section .section__form .form__mid .mid__telefono, .contacto__section .section__form .form__mid .mid__telefono {
      width: 12.5rem;
      padding: 5px;
      border: 0;
      border-bottom: 1px solid #dedede;
      transition: all 0.45s; }
      .signUp__section .section__form .form__mid .mid__telefono:hover, .login__section .section__form .form__mid .mid__telefono:hover, .contacto__section .section__form .form__mid .mid__telefono:hover {
        border-bottom: 1px solid black; }
  .signUp__section .section__form .form__bot, .login__section .section__form .form__bot, .contacto__section .section__form .form__bot {
    display: flex;
    grid-area: bot;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center; }
    .signUp__section .section__form .form__bot .bot__contrasenia, .login__section .section__form .form__bot .bot__contrasenia, .contacto__section .section__form .form__bot .bot__contrasenia {
      width: 12.5rem;
      padding: 5px;
      border: 0;
      border-bottom: 1px solid #dedede;
      transition: all 0.75s; }
      .signUp__section .section__form .form__bot .bot__contrasenia:hover, .login__section .section__form .form__bot .bot__contrasenia:hover, .contacto__section .section__form .form__bot .bot__contrasenia:hover {
        border-bottom: 1px solid black; }
  .signUp__section .section__form .form__submit, .login__section .section__form .form__submit, .contacto__section .section__form .form__submit {
    display: flex;
    grid-area: submit;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center; }
    .signUp__section .section__form .form__submit .button__login, .login__section .section__form .form__submit .button__login, .contacto__section .section__form .form__submit .button__login, .signUp__section .section__form .form__submit .button__signup, .login__section .section__form .form__submit .button__signup, .contacto__section .section__form .form__submit .button__signup {
      padding: 10px;
      width: max-content;
      background-color: #9cc4fc;
      border: 1px solid #dedede;
      border-radius: 5px; }
    .signUp__section .section__form .form__submit .button__signup, .login__section .section__form .form__submit .button__signup, .contacto__section .section__form .form__submit .button__signup {
      background-color: #aed581; }

.login__section .section__form {
  grid-template-rows: 3.125rem 7.5rem 7.5rem 7.5rem;
  grid-template-areas: "header" "mid"  "bot" "submit"; }
  .login__section .section__form .form__mid .mid__email {
    width: 21.875rem; }
  .login__section .section__form .form__bot .bot__contrasenia {
    width: 21.875rem; }
  .login__section .section__form .form__submit .button__login, .login__section .section__form .form__submit .button__signup {
    padding: 10px;
    width: max-content;
    background-color: #aed581;
    border: 1px solid #dedede;
    border-radius: 5px; }
  .login__section .section__form .form__submit .button__signup {
    background-color: #9cc4fc; }

.contacto__section .section__form {
  grid-template-rows: 3.125rem 7.5rem 7.5rem max-content 4.375rem;
  grid-template-areas: "header" "topp"  "mid"  "bot" "submit"; }
  .contacto__section .section__form .form__bot .bot__mensaje {
    width: 28.4375rem;
    padding: 5px;
    border: 0;
    border-bottom: 1px solid #dedede;
    transition: all 0.75s; }
    .contacto__section .section__form .form__bot .bot__mensaje:hover {
      border-bottom: 1px solid black; }
  .contacto__section .section__form .form__submit .button {
    padding: 10px;
    width: max-content;
    border: 1px solid #dedede; }

/* --------------MEDIAS QUERIES-------------- */
@media only screen and (max-width: 1200px) {
  body {
    font-size: 14px; }
  .favoritos__main .main__section .section__grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "Articulo"; }
  .carrito__main .main__section .section__grid .grid__cardArticulo {
    grid-template-columns: 18.75rem 14.375rem 9.375rem;
    grid-template-rows: 10.875rem 5rem;
    grid-template-areas: "Img       Datos       Cancel" "Select    Subtotal    Cancel";
    align-items: center; }
    .carrito__main .main__section .section__grid .grid__cardArticulo .cardArticulo__Img {
      height: 12.5em;
      width: 12.5em; }
    .carrito__main .main__section .section__grid .grid__cardArticulo .cardArticulo__select {
      border-top: 1px solid #a1a1a1;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-left: 1.875rem; }
      .carrito__main .main__section .section__grid .grid__cardArticulo .cardArticulo__select .select__talle {
        display: flex;
        align-items: center;
        margin: 0 10px 0 0; }
        .carrito__main .main__section .section__grid .grid__cardArticulo .cardArticulo__select .select__talle .form-select {
          width: 4.375rem;
          margin-left: 5px; }
      .carrito__main .main__section .section__grid .grid__cardArticulo .cardArticulo__select .select__cantidad {
        display: flex;
        align-items: center; }
        .carrito__main .main__section .section__grid .grid__cardArticulo .cardArticulo__select .select__cantidad .form-select {
          width: 4.375rem;
          margin-left: 5px; }
    .carrito__main .main__section .section__grid .grid__cardArticulo .cardArticulo__subtotal {
      border-top: 1px solid #a1a1a1; }
    .carrito__main .main__section .section__grid .grid__cardArticulo .cardArticulo__cancel {
      align-items: flex-start;
      margin-top: 3.125rem; } }

@media only screen and (max-width: 992px) {
  nav {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }
  .index__main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content max-content;
    grid-template-areas: "carousel" "aside" "section"; }
    .index__main .main__aside .aside__lista {
      padding: 0;
      flex-direction: row;
      justify-content: space-evenly; }
  .marca__main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    grid-template-areas: "aside" "section"; }
    .marca__main .main__aside .aside__lista {
      padding: 0;
      flex-direction: row;
      justify-content: space-evenly; } }

@media only screen and (max-width: 820px) {
  .index__main .index__section .section__grid {
    align-content: center;
    align-items: center;
    margin: 1.25em;
    display: grid;
    width: max-content;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "article    article"  "article    article" "article    article" "article    article"  "article    article";
    grid-column-gap: 2px;
    grid-row-gap: 2px; }
  aside .aside__item .form-select {
    width: 100px; }
  .marcas__main .main__section .section__grid {
    align-content: center;
    align-items: center;
    margin: 1.25em;
    display: grid;
    width: max-content;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "Marca Marca" "Marca Marca" "Marca Marca";
    grid-column-gap: 0.625em;
    grid-row-gap: 0.625em; }
  .marca__main .main__section .section__grid {
    align-content: center;
    align-items: center;
    margin: 1.25em;
    display: grid;
    width: max-content;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "article    article"  "article    article" "article    article" "article    article"  "article    article";
    grid-column-gap: 2px;
    grid-row-gap: 2px; } }

@media only screen and (max-width: 576px) {
  body {
    font-size: 12px; }
  header {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "logo social"; }
    header .header__social .social__container .container__icono {
      width: 1.3rem; }
  .index__main .index__section .section__grid {
    align-content: center;
    align-items: center;
    margin: 1.25em;
    display: grid;
    width: max-content;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "article";
    grid-column-gap: 2px;
    grid-row-gap: 2px; }
    .index__main .index__section .section__grid .grid__article {
      width: 21.5rem;
      height: 12.5rem; }
      .index__main .index__section .section__grid .grid__article .article__imagen {
        height: 9rem;
        width: 9rem; }
      .index__main .index__section .section__grid .grid__article .article__nombre {
        font-size: 12px; }
  .favoritos__main .main__section .section__grid .grid__cardArticulo {
    grid-template-columns: 12.5rem 12.5rem;
    grid-template-rows: max-content 3.75rem;
    grid-template-areas: "Img Datos"  "Buttons Buttons";
    align-items: center;
    justify-content: center; }
    .favoritos__main .main__section .section__grid .grid__cardArticulo .cardArticulo__buttons {
      grid-area: Buttons;
      flex-direction: row; }
  .marca__main .main__section .section__grid {
    align-content: center;
    align-items: center;
    margin: 1.25em;
    display: grid;
    width: max-content;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "article";
    grid-column-gap: 2px;
    grid-row-gap: 2px; }
  .marca__main .main__section .grid__article {
    width: 21.5rem;
    height: 12.5rem; }
    .marca__main .main__section .grid__article .article__imagen {
      height: 9rem;
      width: 9rem; }
    .marca__main .main__section .grid__article .article__nombre {
      font-size: 12px; }
  .marcas__main .main__section .section__grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "Marca"; }
    .marcas__main .main__section .section__grid .grid__cardMarca {
      width: 22rem;
      height: 15em; }
      .marcas__main .main__section .section__grid .grid__cardMarca .cardMarca__logoImg {
        height: 9em;
        width: 9em; }
    .marcas__main .main__section .section__grid .grid__cardMarca:hover {
      transition: all 0.1s;
      transform: scale(1.05);
      border: 1px solid #a1a1a1; } }
