* {
  margin: 0px;
  padding: 0px;
  font-family: 'PT Sans', sans-serif !important; }

body {
  background-color: #ffffff;
  font-size: 16px; }
  body a {
    text-decoration: none;
    color: black; }

.bodyGrid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: max-content max-content max-content max-content;
  grid-template-areas: "header"  "nav"  "main"  "footer"; }

/* --------------HEADER-------------- */
header {
  border-bottom: 1px solid #dedede;
  align-items: center;
  justify-content: center;
  z-index: 900;
  grid-area: header;
  background-color: white;
  height: max-content;
  display: flex; }
  header .header__logo {
    height: 6.25em;
    margin-top: 0.32em; }

/* --------------NAV-------------- */
nav {
  border-bottom: 1px solid #dedede;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 900;
  padding: 0.65em 0 0.65em 0;
  margin: 0;
  width: 100%; }
  nav .nav__buscador {
    height: 1.562em;
    width: 13.75em;
    padding-left: 3px; }
  nav .nav__icono {
    height: 1em;
    transition: all 0.25s; }
    nav .nav__icono:hover {
      transform: scale(1.5); }
  nav .nav__lista {
    padding: 0 3.12em 0 3.12em;
    list-style-type: none;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    margin: 0; }
    nav .nav__lista .nav__item {
      display: block;
      color: black;
      padding: 0.62em 0 0.62em 0;
      justify-items: center; }
      nav .nav__lista .nav__item p {
        margin: 0; }

/* --------------FOOTER-------------- */
footer {
  background-color: #ffffff;
  border-top: 1px solid #dedede;
  grid-area: footer;
  max-height: 1.87em;
  justify-content: space-evenly;
  bottom: 0; }
  footer a {
    text-decoration: none;
    margin: 0 1.25em 0 1.25em;
    text-align: center;
    color: black; }
  footer .footer__lista {
    list-style-type: none;
    display: flex; }

/* --------------MAIN / SECTIONS-------------- */
.index__main {
  display: grid;
  grid-template-columns: 9.375em 1fr;
  grid-template-rows: max-content max-content;
  grid-template-areas: "carousel carousel"  "aside section";
  grid-area: main; }
  .index__main .main__aside {
    background-color: #ffffff;
    grid-area: aside; }
    .index__main .main__aside .aside__lista {
      padding: 7.5em 0 0 0;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      align-items: center; }
    .index__main .main__aside .aside__item {
      padding-top: 1.25em; }
  .index__main #carouselIndex {
    grid-area: carousel; }
  .index__main .index__section {
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    display: flex;
    justify-content: center;
    text-align: center;
    grid-area: section; }
    .index__main .index__section .section__grid {
      align-content: center;
      align-items: center;
      margin: 1.25em;
      display: grid;
      width: max-content;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "article article article"  "article article article"  "article article article";
      grid-column-gap: 0.43em;
      grid-row-gap: 0.43em; }
    .index__main .index__section .section__article {
      background-color: white;
      padding: 1.25em;
      transition: all 0.1s;
      width: 18.75em;
      height: 21.87em; }
      .index__main .index__section .section__article .article__imagen {
        height: 15.625em;
        width: 15.625em;
        align-content: center; }
      .index__main .index__section .section__article .article__nombre {
        margin: 0;
        font-weight: bold;
        font-size: 14px; }
      .index__main .index__section .section__article:hover {
        transform: scale(1.05);
        border: 1px solid #a1a1a1; }

.articulo__main {
  grid-area: main;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  width: 100%;
  height: 100%;
  padding: 3.125em; }
  .articulo__main .main__section {
    display: flex;
    justify-content: center; }
    .articulo__main .main__section .section__grid {
      padding: 3.125em;
      background-color: white;
      align-items: center;
      display: grid;
      grid-template-columns: max-content max-content max-content;
      grid-template-areas: "subImg princImg datos"; }
      .articulo__main .main__section .section__grid .grid__imgSecundarias {
        padding: 1.25em;
        grid-area: subImg;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-right: 1px solid #dedede; }
        .articulo__main .main__section .section__grid .grid__imgSecundarias .imgSecundarias__secundaria {
          height: 6.8em;
          width: 6.8em;
          transition: all 0.2s; }
          .articulo__main .main__section .section__grid .grid__imgSecundarias .imgSecundarias__secundaria:hover {
            transform: scale(2);
            border: 1px solid #858585; }
      .articulo__main .main__section .section__grid .grid__imgPrincipal {
        display: flex;
        grid-area: princImg;
        justify-content: space-between;
        padding: 1.25em;
        height: 23.12em;
        width: 23.12em;
        align-content: center; }
      .articulo__main .main__section .section__grid .grid__datos {
        padding: 1.25em;
        grid-area: datos;
        background-color: white;
        height: 100%;
        display: grid;
        grid-template-columns: 33.12em;
        grid-template-rows: max-content max-content max-content max-content max-content max-content;
        grid-template-areas: "nombre" "precio" "favorito" "descripcion" "selectores" "botones";
        row-gap: 13px; }
        .articulo__main .main__section .section__grid .grid__datos h2 {
          font-size: 1.87em;
          flex-wrap: wrap; }
        .articulo__main .main__section .section__grid .grid__datos p {
          margin: 0; }
        .articulo__main .main__section .section__grid .grid__datos .datos__precio {
          font-weight: bold;
          grid-area: precio; }
        .articulo__main .main__section .section__grid .grid__datos .datos__descripcion {
          width: 33rem;
          font-size: 13px;
          text-align: justify;
          color: #2e2e2e;
          grid-area: descripcion; }
        .articulo__main .main__section .section__grid .grid__datos .datos__selects {
          display: flex;
          font-size: 1.062em;
          grid-area: selectores;
          width: 100%;
          justify-content: space-around;
          align-items: center;
          padding-top: 0.93rem;
          border-top: 1px solid #dedede; }
          .articulo__main .main__section .section__grid .grid__datos .datos__selects .form-select {
            width: max-content; }
        .articulo__main .main__section .section__grid .grid__datos .datos__button .btn #button__heart {
          width: 1em; }
        .articulo__main .main__section .section__grid .grid__datos .datos__inputs {
          grid-area: botones;
          display: flex;
          width: 100%; }
          .articulo__main .main__section .section__grid .grid__datos .datos__inputs .btn {
            margin-right: 0.62em; }
            .articulo__main .main__section .section__grid .grid__datos .datos__inputs .btn #button__cart {
              width: 1em; }

.marcas__main {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  width: 100%;
  height: 100%; }
  .marcas__main .main__section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; }
    .marcas__main .main__section .section__grid {
      align-content: center;
      align-items: center;
      margin: 1.25em;
      display: grid;
      width: max-content;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "Marca Marca Marca" "Marca Marca Marca";
      grid-column-gap: 0.625em;
      grid-row-gap: 0.625em; }
      .marcas__main .main__section .section__grid .grid__cardMarca {
        display: flex;
        width: 18.75em;
        height: 18.75em;
        background-color: white;
        justify-content: center;
        align-items: center; }
        .marcas__main .main__section .section__grid .grid__cardMarca .cardMarca__logoImg {
          height: 11.25em;
          width: 11.25em; }
      .marcas__main .main__section .section__grid .grid__cardMarca:hover {
        transition: all 0.1s;
        transform: scale(1.05);
        border: 1px solid #a1a1a1; }

.marca__main {
  display: grid;
  grid-template-columns: 9.375em 1fr;
  grid-template-rows: max-content;
  grid-template-areas: "aside section";
  grid-area: main; }
  .marca__main .main__aside {
    background-color: #ffffff;
    display: inline-block;
    grid-area: aside; }
    .marca__main .main__aside .aside__lista {
      padding: 7.5em 0 0 0;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      align-items: center; }
    .marca__main .main__aside .aside__item {
      padding-top: 1.25em; }
  .marca__main .main__section {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    display: flex;
    justify-content: center;
    text-align: center; }
    .marca__main .main__section .section__grid {
      align-content: center;
      align-items: center;
      margin: 1.25em;
      display: grid;
      width: max-content;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "article article article" "article article article" "article article article";
      grid-column-gap: 0.43em;
      grid-row-gap: 0.43em; }
    .marca__main .main__section .grid__article {
      background-color: white;
      padding: 1.25em;
      transition: all 0.1s;
      width: 18.75em;
      height: 21.875em; }
      .marca__main .main__section .grid__article .article__imagen {
        height: 15.625em;
        width: 15.625em;
        align-content: center; }
      .marca__main .main__section .grid__article .article__nombre {
        margin: 0;
        font-weight: bold;
        font-size: 14px; }
      .marca__main .main__section .grid__article:hover {
        transform: scale(1.05);
        border: 1px solid #a1a1a1; }

.carrito__main {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  width: 100%;
  height: 100%; }
  .carrito__main .main__section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; }
    .carrito__main .main__section .section__grid {
      align-content: center;
      align-items: center;
      margin: 1.25em;
      display: grid;
      width: max-content;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas: "Articulo" "Articulo" "Articulo" "Articulo";
      grid-column-gap: 0.625em;
      grid-row-gap: 0.625em; }
      .carrito__main .main__section .section__grid .grid__cardArticulo {
        border-radius: 5px;
        display: grid;
        width: 100%;
        height: max-content;
        background-color: white;
        grid-template-columns: 230px 350px 230px 190px;
        grid-template-rows: max-content;
        grid-template-areas: "Img Datos Select Cancel";
        align-items: center; }
        .carrito__main .main__section .section__grid .grid__cardArticulo .cardArticulo__cancel {
          display: flex;
          width: 100%;
          height: 100%;
          justify-content: center;
          align-items: center; }
          .carrito__main .main__section .section__grid .grid__cardArticulo .cardArticulo__cancel .cardArticulo__icono {
            grid-area: Cancel; }
        .carrito__main .main__section .section__grid .grid__cardArticulo .cardArticulo__Img {
          height: 12.5em;
          width: 12.5em;
          grid-area: Img;
          padding-left: 15px; }
        .carrito__main .main__section .section__grid .grid__cardArticulo .cardArticulo__select {
          width: 100%;
          height: 100%;
          grid-area: Select;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: end; }
          .carrito__main .main__section .section__grid .grid__cardArticulo .cardArticulo__select .form-select {
            width: 70px;
            margin: 0 0 0 5px; }
          .carrito__main .main__section .section__grid .grid__cardArticulo .cardArticulo__select .select__talle {
            display: flex;
            align-items: center;
            margin: 0 0 10px 0; }
          .carrito__main .main__section .section__grid .grid__cardArticulo .cardArticulo__select .select__cantidad {
            display: flex;
            align-items: center; }
        .carrito__main .main__section .section__grid .grid__cardArticulo .cardArticulo__datos {
          display: flex;
          flex-direction: column;
          align-content: left;
          grid-area: Datos; }
          .carrito__main .main__section .section__grid .grid__cardArticulo .cardArticulo__datos .article__nombre {
            margin: 0 0 10px 0;
            font-weight: bold;
            font-size: 18px;
            grid-area: Datos; }
          .carrito__main .main__section .section__grid .grid__cardArticulo .cardArticulo__datos .article__precio {
            font-size: 16px;
            margin: 0; }
        .carrito__main .main__section .section__grid .grid__cardArticulo .cardArticulo__icono {
          width: 20px;
          grid-area: Cancel; }

.contacto__section, .signUp__section, .login__section {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  display: flex;
  justify-content: center; }

/* --------------FORM-------------- */
form {
  width: 22em;
  margin: 1.25em 0 1.25em 0;
  padding: 0.62em 0.62em 0.62em 0.62em;
  background-color: white; }

/* --------------MEDIAS QUERIES-------------- */
@media only screen and (max-width: 1200px) {
  body {
    font-size: 14px; } }

@media only screen and (max-width: 992px) {
  body {
    font-size: 14px; }
  .index__main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content max-content;
    grid-template-areas: "carousel" "aside" "section"; }
  .index__main .main__aside .aside__lista {
    padding: 0;
    flex-direction: row;
    justify-content: space-evenly; } }

@media only screen and (max-width: 820px) {
  body {
    font-size: 14px; }
  .index__main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content max-content;
    grid-template-areas: "carousel"  "aside"  "section"; }
  .index__main .index__section .section__grid {
    align-content: center;
    align-items: center;
    margin: 1.25em;
    display: grid;
    width: max-content;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "article    article"  "article    article" "article    article" "article    article"  "article    article";
    grid-column-gap: 2px;
    grid-row-gap: 2px; } }

@media only screen and (max-width: 576px) {
  body {
    font-size: 12px; }
  .index__main {
    display: grid;
    grid-template-columns: 80px 9fr;
    grid-template-rows: max-content max-content;
    grid-template-areas: "carousel   carousel" "aside      section"; }
  .index__main .main__aside .aside__lista {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .index__main .index__section .section__grid {
    align-content: center;
    align-items: center;
    margin: 1.25em;
    display: grid;
    width: max-content;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "article" "article"  "article" "article" "article" "article" "article" "article" "article";
    grid-column-gap: 2px;
    grid-row-gap: 2px; } }
